@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  

  .no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinners {
  -moz-appearance: textfield;
}


.react-datepicker-popper {
  z-index: 10; /* Ensure the datepicker is above other elements */
}

.react-datepicker-calendar {
  background-color: #2d2d2d; /* Adjust color as needed */
  color: #fff; /* Adjust color as needed */
}

.react-datepicker__header {
  background-color: #2d2d2d; /* Adjust color as needed */
  border-bottom: none; /* Remove bottom border */
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  color: #fff; /* Adjust color as needed */
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #00aaff; /* Adjust color as needed */
  color: #fff; /* Adjust color as needed */
}

.react-datepicker__day--outside-month {
  color: #666; /* Adjust color as needed */
}
.category-select {
  max-height: 160px; /* Set your desired max height here */
  overflow-y: auto;
}